/* Importando font do google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --cor-de-fundo: #0AA1DD;
    --cor-primaria: #E8F9FD;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-principal);
}

h1 {
    font-size: 7em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    margin-top: 20px;
}